<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="configFragment">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"> -->

    <!-- icon (Chrome & Opera) -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/image/ico_maumAI_60x60.ico}"/>

    <link rel="stylesheet" th:href="@{/css/all.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/all.css}"/>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/mvp.css}"/>
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" href="https://sds.maum.ai/css?host=mindslab"/><!-- Chatbot -->

    <script type="text/javascript" src="/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.12.1.js"></script>
    <script type="text/javascript" src="/js/Sortable.min.js"></script>

    <script th:inline="javascript">
        const user_no = [[${user.UserNo}]];
        const user_email = [[${user.Email}]];

        let lang_code = "[(#{language.code})]";
        /*<![CDATA[*/
        const builderUrl = [[${@environment.getProperty('url.ai-builder')}]];
        /*]]>*/
        /*<![CDATA[*/
        let humanUrl = [[${@environment.getProperty('url.human')}]];
        /*]]>*/
    </script>
    <!-- 우측 하단 floating chatbot -->
    <!-- <script src="https://sds.maum.ai/js/mindslab"></script> --> <!-- Chatbot -->
    <script type="text/javascript" th:src="@{/js/mvp_user.js}"></script>

    <title>AI Human Builder</title>
</head>
</html>
