<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="sidebarFragment">
    <div class="menu_wrap">
        <div class="hamberger_button">
            <em class="fas fa-bars"></em>
            <!--        <em class="fas fa-angle-double-left"></em>-->
            <a href="/">AI Human Builder</a>
        </div>

        <!-- [P] 추가 -->
        <div class="projectBox">
            <a href="javascript:void(0)" class="btn_project_add btn_modal_open" data-popup="pop_pjt_add"><span th:text="#{button.1}">새 프로젝트</span></a>
            <dl class="dlBox">
                <dt>
                    <h3 th:text="#{button.2}">프로젝트 목록</h3>
                    <a href="javascript:void(0)" class="btn_pjt_setup btn_modal_open" data-popup="pop_pjt_modify"
                       title="프로젝트 관리" th:text="#{button.11}">프로젝트 관리</a>
                </dt>
                <dd>
                    <ul class="lst menu-projects">

                    </ul>
                </dd>
            </dl>
        </div>

        <a href="javascript:void(0)" class="btn_license_add btn_modal_open" data-popup="pop_license_add"><i
                class="fas fa-key"></i><span th:text="#{button.3}">라이선스 등록</span></a>
    </div>

    <!-- [P] 프로젝트 등록 -->
    <div id="pop_pjt_add" class="modal_pop">
        <!-- .popWrap -->
        <div class="popWrap w500">
            <div class="pop_top"><h2 th:text="#{button.9}">프로젝트 시작하기 <i class="fas fa-times btn_modal_close">닫기</i></h2></div>
            <div class="pop_mid bg_lightblue">
                <div class="dlBox">
                    <dl class="dl_tbl">
                        <dt><em>STEP 01.</em> 제작할 AI Human 템플릿 선택해 주세요.</dt>
                        <dt th:text="#{button.22}">제작할 AI Human 템플릿 선택해 주세요.</dt>
                        <dd class="pjt_radio">
                            <div class="radio_box">

                            </div>
                        </dd>
                    </dl>
                    <dl class="dl_tbl">
                        <dt th:text="#{button.21}"></dt>
                        <dd>
                            <input type="text" id="proj_name" class="ipt_txt w100" th:placeholder="#{button.20}">
                            <span class="error">Project name already exists</span>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="pop_btn">
                <button class="btn_modal_close blue_line_btn" th:text="#{button.cancel}">취소</button>
                <button type="button" id="btn_pjt_add" class="blue_btn" th:text="#{button.save}">등록</button>
            </div>
        </div>
        <!-- //.popWrap -->
    </div>
    <!-- //[P] 프로젝트 등록 -->


    <!-- [L] 라이선스 등록-->
    <div id="pop_license_add" class="modal_pop">
        <!-- .popWrap -->
        <div class="popWrap pop_license_add">
            <div class="pop_top"><h2>[[#{button.3}]]<i class="fas fa-times btn_modal_close">닫기</i></h2></div>
            <!-- .pop_mid -->
            <div class="pop_mid">
                <p th:text="#{button.12}">고객님의 이메일로 발송된 주문확인서 내의 인증키를 입력하세요.</p>
                <div class="license_check" id="license_valid_display">
                    <!-- [D] 실시간 체크 클래스 넣어주세요.
                          에러일땐 error,
                          일치하면 success -->
                    <input type="text" id="license_input" th:placeholder="#{button.13}">
                    <i class="fa fa-check-circle"></i>
                </div>
                <div class="lc_txt">
                    <p class="sucess" th:text="#{button.23}">사용 가능한 라이선스 입니다.</p>
                    <p class="error" th:text="#{button.24}">유효하지 않은 라이선스 입니다.</p>
                </div>
            </div>
            <!-- //.pop_mid -->
            <div class="pop_btn">
                <button type="button" class="blue_btn" id="license_btn_ok" th:text="#{button.14}">등록</button>
            </div>
        </div>
        <!-- //.popWrap -->
    </div>
    <!-- //[L] 라이선스 등록-->

    <!-- [P] 프로젝트 관리 -->
    <div id="pop_pjt_modify" class="modal_pop">
        <!-- .popWrap -->
        <div class="popWrap w500">
            <div class="pop_top"><h2 th:text="#{button.11}">프로젝트 관리 <i class="fas fa-times btn_modal_close">닫기</i></h2></div>
            <div class="pop_mid bg_lightblue">
                <p class="error">All project names must be unique</p>
                <ul id="sortable" class="ui-sortable project_manage_list">
                </ul>
            </div>
            <div class="pop_btn">
                <button class="btn_modal_close blue_line_btn cancel_project_manage" th:text="#{button.cancel}">취소</button>
                <button type="button" id="btn_pjt_modify" class="blue_btn " th:text="#{button.16}">저장</button>
            </div>
        </div>
        <!-- //.popWrap -->
    </div>
    <!-- //[P] 프로젝트 관리 -->

    <script type="text/javascript" th:src="@{/js/mvp_license.js}"></script>
    <script type="text/javascript">

        function movePage(object) {
            let root;
            let template;
            console.log($(object).data('projectname'));
            switch ($(object).data("type")) {
                case "AVATAR" : root = "/avatar-builder?projectName="+ $(object).data("projectname") +"&flowId="
                    template = "avatar"
                    break;
                case "MANAGE" : root = "/ai-builder?flowId="
                    template = "ai_humanSpeech"
                    break;
                case "NONE" : root = "/ai-builder?flowId="
                    template = "none"
                    break;
            }
            location.href = root + $(object).data("templateid") + "&template=" + template + "&flag=read";
            return false;
        }

        $(".btn_pjt_delete").on("click", function () {
            alert("aaaa")
        })
        window.onload = function() {

            templateIdList = [];

            function getParameterByName(name) {
                name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
                var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                    results = regex.exec(location.search);
                return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
            }

            $(".btn_project_add ").on("click", function () {
                $("#proj_name").focus();
                $("input:radio[name='rd_template']:radio[id='rd_avatar']").prop('checked', true);
            })

            $(".flow_delete_modal_btn").on("click", function () {
                $(".flow_delete_button").data("templateid", $(this).parent().siblings('span').data("templateid"))
            })

            $(document).on("click", ".flow_delete_button_sidebar", function () {
                let detail = $(this).parent();
                console.log($(this).attr("data-templateid"))

                console.log($(detail).children("input").attr("placeholder"));

                templateIdList.push($(this).attr("data-templateid"))
                detail.remove();

            })

            $(document).on("click", "#btn_pjt_modify", function () {
                // let sidebar = $(this).data("sidebar");
                // let templateId = $(this).data("templateid");
                // let detail = $(this).parent();

                var li = $(".project_manage_list").children("li.mod-projects");

                let updateIdList = [];
                let updateTitleList = [];

                for (var i = 0; i < li.length; i++) {
                    let placeholderText = $(li).eq(i).children("input").attr("placeholder")
                    let inputText = $(li).eq(i).children("input").val()
                    console.log(placeholderText);
                    console.log(inputText);
                    if (inputText != "") {
                        updateIdList.push($(li).eq(i).children("button").attr("data-templateid"))
                        updateTitleList.push(inputText)
                    }
                }

                $.ajax({
                    type: 'POST',
                    url: '/mvp/api/Flows/update/sidebar',
                    data:  JSON.stringify({
                        'idList': updateIdList,
                        'titleList': updateTitleList,
                    }),
                    contentType: "application/json",
                    success: function (result) {

                    },
                    error: function (result) {
                    }
                })

                $.ajax({
                    type: 'delete',
                    url: '/mvp/api/Flows/delete/sidebar',
                    data: JSON.stringify(templateIdList),
                    contentType: "application/json",
                    success: function (result) {

                        if (templateIdList.includes(getParameterByName("flowId"))) {
                            location.href = builderUrl;
                        } else {
                            location.reload();
                        }

                        // if (sidebar === "sidebar") {
                        //     const getSidebarList = $(".sidebar_flow_list");
                        //
                        //     for (let i = 0; i < getSidebarList.length; i++) {
                        //         if ($(getSidebarList[i]).data("templateid") == templateId) {
                        //             getSidebarList[i].remove();
                        //         }
                        //
                        //     }
                        //     detail.remove();
                        // } else {
                        //     location.reload();
                        // }
                    },
                    error: function (result) {
                    }
                })
            })

            $(".flow_border").on("click", function () {
                movePage($(this));
            })

            $.ajax({
                type: "POST",
                url : "/sideBar/init?lang=" + lang_code,
                // contentType: false,
                // contentType: "application/json",
                async: false,
                cache :false,
                success : function (templateList) {
                    // console.log(templateList);
                    let html;
                    for (let i = 0; i < templateList.length; i++) {
                        let radioId;
                        switch (templateList[i].type) {
                            case 'AVATAR' : radioId = 'rd_avatar'; break;
                            case 'MANAGE' : radioId = 'rd_consult'; break;
                            case 'NONE' : radioId = 'rd_none'; break;
                        }
                        html = `
                                <div class="radio_area">
                                    <input type="radio" name="rd_template" id=${radioId} data-templateid="${templateList[i].id}" class="ipt_radio" checked="" value="${templateList[i].type}">
                                    <label for="${radioId}">
                                        <img src="${templateList[i].thumbnailImage}" alt="예비 이미지">
                                        <span class="txt_area">
                                            <span class="tit">${templateList[i].title}</span>
                                            <span class="desc">${templateList[i].description.replaceAll(",", " ")}</span>
                                        </span>
                                    </label>
                                </div>
                                `
                        $(".radio_box").append(html);
                    }


                },
                fail : function (result) {
                    console.dir(result)
                }
            })

            $.ajax({
                type: "POST",
                url: "/sideBar/flow",
                // contentType: false,
                // contentType: "application/json",
                async: false,
                cache: false,
                success: function (flowList) {
                    let html;
                    let sidebarManageHtml;
                    for (let i = 0; i < flowList.length; i++) {
                        let location;
                        switch (flowList[i].type) {
                            case 'AVATAR' : location = '/avatar-builder?flowId=' + flowList[i].flowId; break;
                            //TODO: ai-builder 로딩 방식 확인필요
                            case 'MANAGE' : location = '/ai-builder'; break;
                            case 'NONE' : location = '/ai-builder'; break;
                        }
                        html = `
                        <li class="sidebar_flow_list" data-templateId="${flowList[i].flowId}" id="${flowList[i].flowId}">
                            <a href="javascript:void(0);" class="flow_border" data-templateId="${flowList[i].flowId}" data-type="${flowList[i].type}" data-projectName="${flowList[i].name}" onclick="movePage(this);"">
                                <span>${flowList[i].name}</span>
                            </a>
                        </li>`
                        $(".menu-projects").append(html);

                        sidebarManageHtml = `
                        <li class="ui-state-default mod-projects ui-sortable-handle">
                            <input placeholder="${flowList[i].name}">
                            <button type="button" class="btn_pjt_delete flow_delete_button_sidebar" data-templateid="${flowList[i].flowId}" data-sidebar="sidebar">삭제</button>
                        </li>`
                        $("#sortable").append(sidebarManageHtml);
                    }


                }
            })

        }

        $(function () {
            $(".btn_modal_open").on("click", function () {
                var popupId = "#" + $(this).attr("data-popup");

                if (popupId === '#pop_license_add') {
                    setTimeout(() => $("#license_input").focus(), 500)
                }

                $("body").css('overflow', 'hidden');

                $("body").find(popupId).wrap('<div class="lyrWrap"></div>');
                $("body").find(popupId).before('<div class="lyr_bg"></div>');

                //Layer popup close
                $(".popWrap .btn_lyr_close, .ico_close, .btn_modal_close, .blue_btn").on("click", function () {
                    if(!($(this).attr("class") == "blue_btn")) {
                        // 라이센스 등록 초기화 ---
                        $("#license_input").val("");
                        $("#license_input").removeAttr("disabled");
                        $("#license_valid_display").removeClass("success").removeClass("error");

                        $("body").css("overflow", "");
                        $(".lyr_bg").fadeOut(800).remove();
                        $("body").find(popupId).unwrap('<div class="lyrWrap"></div>');
                    }
                });
            });
        });

        $('.menu_wrap').hover(function () {
            $('.menu_wrap').toggleClass('active');
        });


        let appName;
        let template_id;

        document.getElementById('btn_pjt_add').addEventListener('click', function () {
            let projectName = $("#proj_name").val();
            if (projectName == '') {
                alert(lang_code == 'ko' ? 'Please enter project name.' : '프로젝트 명을 입력해주세요.');
                return;
            }

            getPageRoot();
            switch (pageRoot) {
                case 'rd_avatar' : {
                    const flowId = saveAvatarProject(projectName, template_id);
                    if (flowId === '') {
                        return;
                    }
                    // location.href = "/avatar-builder?projectName=" + projectName + "&templateId=" + template_id;
                    location.href = "/avatar-builder?flowId=" + flowId + "&template=avatar&flag=read&projectName=" + projectName;
                    break;
                }
                case 'rd_consult' :
                    appName = "ai_humanSpeech";
                    const rdFlowId = saveNewProject(projectName, template_id);
                    if (rdFlowId === undefined || rdFlowId === null) {
                        return;
                    }
                    location.href = "/ai-builder?template=" + appName + "&projectName=" + projectName + "&templateId=" + template_id + "&flowId=" + rdFlowId;
                    break;
                case 'rd_none' :
                    appName = "none";
                    const flowId = saveNewProject(projectName, template_id);
                    if (flowId === undefined || flowId === null) {
                        return;
                    }
                    location.href = "/ai-builder?template=" + appName + "&projectName=" + projectName + "&templateId=" + template_id + "&flowId=" + flowId;
                    break;
            }

        })

        function getPageRoot() {
            const getRootList = document.getElementsByName('rd_template');

            getRootList.forEach((root) => {
                if (root.checked) {
                    pageRoot = root.id;
                    template_id = $(root).data("templateid")
                }
            })

        }

        function saveAvatarProject(projectName, template_id){
            let results = ""
            let sendData = {
                flowId: null,
                templateId: template_id,
                projectName: projectName,
                scriptList: []
            };
            $.ajax({
                url: "/builder/flow:save",
                type: "post",
                data: JSON.stringify(sendData),
                contentType: "application/json",
                async: false,
                success: function (result, textStatus, jqXhr) {
                    console.log("새로운 project 저장 ========> OK");
                    results = result;
                },
                error: function (jqXHR) {
                    console.log("========> Fail");
                    if (jqXHR.status === 400) {
                        alert("프로젝트명은 25글자 이내여야 합니다.");
                    }
                }
            })
            return results;
        }

        function saveNewProject(projectName, template_id) {
            var newProject = {
                templateId: template_id,
                name: projectName,
                nodeList: []
            }

            var results;

            $.ajax({
                type: 'post',
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify(newProject),
                url: '/mvp/api/Flows',
                timeout: 6000,
                async: false,
                success: function (result) {
                    console.log("새로운 project 저장 ========> OK");
                    results = result.flowId;
                },
                error: function (jqXHR) {
                    console.log("========> Fail");
                    if (jqXHR.status === 400) {
                        alert("프로젝트명은 25글자 이내여야 합니다.");
                    }
                }
            });

            return results;
        }

        $(document).ready(function () {

            $(".cancel_project_manage").on("click", function () {
                location.reload();
            })

            $(".pop_project_add_modal_btn").on("click", function () {
                $("#proj_name").focus();
                let dataValue = $(this).data("type");
                $(`input:radio[name='rd_template']:radio[value=${dataValue}]`).prop('checked', true);
            })


        })
    </script>
</th:block>
</html>
