<html th:lang="#{language.code}" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerFragment">

    <div class="mvp_top">
        <div class="mvp_top_area">
                            <span class="btn_help">
                                <a href="https://drive.google.com/file/d/1S6avadjuFMKfOrwDEWbiAE4NorEau-vk/view?usp=sharing"
                                   title="도움말" target="_blank" th:inline="text">
                                    <em class="fas fa-info"></em> [[#{cont.mvptop.help}]]
                                </a>
                            </span>
            <h1><a href="/"><small></small> AI Human Builder</a></h1>
            <div class="fr_btn">
                <!-- .etcmenu -->
                <div class="etcmenu">

                    <div class="userBox">
                        <dl>
                            <dt class="ico_user"><em class="far fa-user"></em></dt>
                            <dd>
                                <a target="_self" href="#none" th:text="${user.Email}"></a>
                                <em class="fas fa-chevron-down"></em>
                            </dd>
                        </dl>
                        <ul class="lst">
                            <li class="ico_profile"><a target="_blank" th:href="#{top.profile.link}"
                                                       th:text="#{cont.mvptop.profile}">프로필</a></li>
                            <li class="ico_account"><a target="_blank" th:href="#{top.account.link}"
                                                       th:text="#{cont.mvptop.account}">이용내역</a></li>
                            <li class="ico_payment"><a target="_blank" th:href="#{top.payment.link}"
                                                       th:text="#{cont.mvptop.payment}">결제정보</a></li>
                            <li class="ico_logout"><a href="javascript:void(0)" class="btn_logout btn_modal_open"
                                                      th:text="#{cont.mvptop.logout}" data-popup="api_logout">로그아웃</a></li>
                        </ul>
                    </div>
                </div>
                <div class="lang_box">
                    <!-- 하단 스크립트 처리 -->
                </div>
                <!-- //.etcmenu -->
            </div>
        </div>
    </div>

    <!-- #api_logout -->
    <div class="pop_simple mvp_pop" id="api_logout">
        <div class="mvp_pop_bg"></div>
        <!-- .popWrap -->
        <div class="popWrap">
            <div class="pop_hd"><h2>Logout<em class="fas fa-times ico_close"></em></h2></div>
            <!-- .pop_bd -->
            <div class="pop_bd" th:text="#{api_logout.body.line}">
                AI Human Builder를 로그아웃 하겠습니까?
            </div>
            <!-- //.pop_bd -->
            <div class="btn">
                <button type="button" id="Button_LogoutCancel" th:text="#{api_logout.button.cancel}">아니오</button>
                <button type="button" class="blue_btn" id="Button_LogoutOk" th:text="#{api_logout.button.ok}"> 네
                </button>
            </div>
        </div>
        <!-- //.popWrap -->
    </div>
    <!-- //.pop_simple -->
    <script>

        jQuery.event.add(window, "load", function () {
            $(document).ready(function () {
                $('.etcmenu .userBox dl dd').on('click', function () {
                    var statue = $('.etcmenu .userBox dl').attr('class');
                    $(this).parent().addClass('active');
                    $(this).children('em').attr('class', 'fas fa-chevron-up');
                    if (statue == "active") {
                        $('.etcmenu .userBox dl').removeClass('active');
                        $(this).children('em').attr('class', 'fas fa-chevron-down');

                    }
                });

                // header user
                $('.userBox dl').on('click', function () {
                    $(this).parent().addClass('active');
                });

                $(document).on('click', function (e) {
                    if (!$('.userBox').has(e.target).length) {
                        $('.userBox').removeClass('active');
                    }
                });
                //화면 로드 시 lang 체크
                $('html').each(function () {
                    var thisURL = $(location).attr('href'),
                        urlStr = thisURL.substring(thisURL.indexOf("/?"));

                    let split_url = thisURL.split("?")[1]

                    lang_code = "[(#{language.code})]";
                    let URLSearch = new URLSearchParams(location.search);

                    if (lang_code == 'en' || urlStr == '/?lang=en' || urlStr == '/?lang=en#none') {
                        lang_code = 'ko'
                        URLSearch.set('lang', lang_code);
                        let newParam = URLSearch.toString();
                        //lang_box ui
                        $('.lang_box').children().remove();
                        $('.lang_box').append(`\
                    <span>English</span> \
                    <span><a href="?${newParam}">Korean</a></span>`
                    );
                        $('.stn_landing_cont .item_set.bg_blue .item_title, .stn_landing_cont .item_set.bg_blue ul.item_lst > li').addClass('en_blue');
                        $('.stn_landing_cont .item_set .item_lst > li .inner_box .short_box').addClass('en_short_box');
                        $('.stn_landing_cont .item_set .item_lst > li .inner_box .long_box').addClass('en_long_box');
                        // $('.en_arrow').parent().parent('li').css('height', '97px');

                        //html language
                        $('html').attr('lang', 'en');

                        //Live chat close
                        $('body').addClass('lot_en');

                        $('.btn_help').hide();
                    } else {
                        lang_code = 'en'
                        URLSearch.set('lang', lang_code);
                        let newParam = URLSearch.toString();
                        //lang_box ui
                        $('.lang_box').children().remove();
                        $('.lang_box').append(`\
                    <span>한국어</span> \
                    <span><a href="?${newParam}">English</a></span>`
                        );
                        $('.stn_landing_cont .item_set.bg_blue .item_title, .stn_landing_cont .item_set.bg_blue ul.item_lst > li').removeClass('en_blue');
                        $('.stn_landing_cont .item_set .item_lst > li .inner_box .short_box').removeClass('en_short_box');
                        $('.stn_landing_cont .item_set .item_lst > li .inner_box .long_box').removeClass('en_long_box');
                        //html language
                        $('html').attr('lang', 'ko');

                        //Live chat close
                        $('body').removeClass('lot_en');
                    }
                });
            });
        })
    </script>
</th:block>
</html>
