<!DOCTYPE html>
<html th:lang="#{language.code}" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<th:block layout:fragment="topScript">
    <script type="text/javascript" th:src="@{/js/messages.js}"></script>
</th:block>
<body layout:fragment="content">
<!-- .page loading -->
<div id="pageldg">
        <span class="out_bg">
            <em>
                <strong>&nbsp;</strong>
                <strong>&nbsp;</strong>
                <strong>&nbsp;</strong>
                <b>&nbsp;</b>
            </em>
        </span>
</div>
<!-- //.page loading -->

<!-- 사용량 부족 팝업 -->
<div id="pop_lackUsage" class="modal_pop">
    <!-- .popWrap -->
    <div class="popWrap">
        <div class="pop_top"><h2>알림<i class="fas fa-times btn_template_close">닫기</i></h2></div>
        <!-- .pop_mid -->
        <div class="pop_mid tac">
            <p>잔여 글자수가 부족하여 다운로드 받으실 수 없습니다.<br>스토어에서 구매하시겠습니까?</p>
        </div>
        <!-- //.pop_mid -->
        <div class="pop_btn">
            <button class="btn_modal_close blue_line_btn" onclick="noneTemplateAlert()">취소</button>
            <button type="button" class="blue_btn" onclick="redirectStore()">스토어 바로가기</button>
        </div>
    </div>
    <!-- //.popWrap -->
</div>
<!-- 족족 팝업 -->

<!-- 삭제 팝업 -->
<div id="pop_delete" class="modal_pop">
    <!-- .popWrap -->
    <div class="popWrap">
        <div class="pop_top"><h2>정말 삭제 하시겠습니까<i class="fas fa-times btn_modal_close">닫기</i></h2></div>
        <!-- .pop_mid -->
        <div class="pop_mid tac">
            <p>삭제를 하시면 해당 데이터의 복구가 불가능합니다.</p>
        </div>
        <!-- //.pop_mid -->
        <div class="pop_btn">
            <button type="button" class="blue_btn" id="Button_Ok">확인</button>
        </div>
    </div>
    <!-- //.popWrap -->
</div>
<!-- //삭제 팝업 -->


<!-- 알림 팝업 -->
<div id="Popup_Message" class="modal_pop">
    <!-- .popWrap -->
    <div class="popWrap">
        <div class="pop_top"><h2>알림<i class="fas fa-times btn_modal_close">닫기</i></h2></div>
        <!-- .pop_mid -->
        <div class="pop_mid tac">
            <p>변경된 사항이 있습니다.<br>프로젝트를 저장하시겠습니까?</p>
        </div>
        <div class="pop_btn">
            <button class="btn_modal_close blue_line_btn">취소</button>
            <button type="button" class="blue_btn" id="Button_Ok" onclick="saveFlow()">저장</button>
        </div>
    </div>
    <!-- //.popWrap -->
</div>
<!-- //알림 팝업 -->

<!-- 템플릿 구매 팝업 -->
<div id="Popup_Template_Message" class="modal_pop">
    <!-- .popWrap -->
    <div class="popWrap">
        <div class="pop_top"><h2>알림<i class="fas fa-times btn_template_close">닫기</i></h2></div>
        <!-- .pop_mid -->
        <div class="pop_mid tac">
            <p>유료 항목이 포함되어 있습니다.<br>스토어에서 구매하시겠습니까?</p>
        </div>
        <div class="pop_btn">
            <button class="blue_line_btn" onclick="noneTemplateAlert()">취소</button>
            <button type="button" class="blue_btn" id="Button_Ok" onclick="redirectStore()">스토어 바로가기</button>
        </div>
    </div>
    <!-- //.popWrap -->
</div>
<!-- //알림 팝업 -->

<!-- 확대보기 -->
<div id="pop_show_preview" class="modal_pop">
    <!-- .popWrap -->
    <div class="popWrap">
        <div class="pop_top"><h2 th:inline="text">[[#{avatar.zoom}]] <i class="fas fa-times btn_modal_close">닫기</i></h2>
        </div>
        <!-- .pop_mid -->
        <div class="pop_mid tac">
            <div class="vid_box">
                <video src="assets/video/preview_avatar_baseline.mp4" id="preview_vid" style="object-fit:contain;"
                       controls muted autoplay>
                </video>
            </div>
        </div>
        <!-- //.pop_mid -->
    </div>
    <!-- //.popWrap -->
</div>
<!-- //확대보기 -->

<!-- 배경선택 -->
<div id="pop_select_background" class="modal_pop">
    <!-- .popWrap -->
    <div class="popWrap pop_select_background">
        <div class="pop_top"><h2>배경 선택 <i class="fas fa-times btn_modal_close">닫기</i></h2></div>
        <!-- .pop_mid -->
        <div class="pop_mid">
            <p class="tac">AI Human의 배경을 선택해 주세요.</p>
            <div class="sb_tab_wrap">
                <ul class="tabs_ul">
                    <li class="tab_link on" data-tab="basicImg">기본 배경</li>
                    <li class="tab_link" data-tab="uploadImg">이미지 업로드</li>
                </ul>
                <div id="basicImg" class="tab_cnt on">
                    <div class="tab_cnt_area">
                        <ul class="tab_cnt_list">
                            <li th:each="background : ${background}" class="basic_bg"
                                th:attr="data-background-url=${background.url}">
                                <img th:if="${background.url != null && background.url != '' && background.displayName != 'transparent'}"
                                     th:src="${background.url}" th:alt="${background.displayName}"/>
                                <div th:if="${background.url == null || background.url == '' || background.displayName == 'transparent'}"
                                     class="bg_none"></div>
                                <div class="border"></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="uploadImg" class="tab_cnt">
                    <div class="tab_cnt_area upload_background">
                        <ul id="user_bg_ul" class="tab_cnt_list"></ul>
                        <div class="tab_cnt_btm">
                            <p>
                                위 화면에 마우스로 파일을 끌어오거나,
                                <button class="upload" id="uploadFile">
                                    <label for="imgSampleInputFile" class="">파일 선택</label>
                                    <input type="file" id="imgSampleInputFile" class=""
                                           accept=".gif, .png, .jpg, .jpeg">
                                </button>
                                을 클릭하여 파일을 업로드 하세요.
                            </p>
                        </div>
                    </div>
                    <ul class="tab_cnt_desc">
                        <li>· 내보내기 이후 배경 변경 시, 영상 재생이 원활하지 않을 수 있습니다.</li>
                        <li>· 업로드용 이미지 파일은 <b>gif, jpg, png</b>만 지원하며 최대 5MB까지 업로드 할 수 있습니다.</li>
                        <li>· 이미지의 파일 이름은 영문, 숫자, 하이픈(-), 언더바(_)만 사용 가능하며, 한글 및 특수문자 및 <br>&nbsp;&nbsp;공백이 사용된 파일명은 등록이
                            불가능합니다.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- //.pop_mid -->
        <div class="pop_btn">
            <button type="button" class="blue_btn" id="Button_Ok" onclick="handleModifyBg()">선택완료</button>
        </div>
    </div>
    <!-- //.popWrap -->
</div>
<!-- //배경선택 -->

<!-- 내보내기 -->
<div id="scenario_output_box" class="modal_pop">
    <!-- .popWrap -->
    <div class="popWrap scenario_output_box">
        <div class="pop_top"><h2>내보내기<i class="fas fa-times btn_modal_close">닫기</i></h2></div>
        <!-- .pop_mid -->
        <div class="pop_mid">
            <div class="output_tab_wrap">
                <ul class="tabs_ul">
                    <li class="tab_link on" data-tab="fullScreen">Full Screen</li>
                    <li class="tab_link" data-tab="floating">Floating</li>
                </ul>
                <div id="fullScreen" class="tab_cnt on">
                    <div class="output_cnt"><p>&lt;script type="text/javascript"&gt;window.onload = function () {var
                        iframe = document.createElement("iframe");iframe.id = "myframe";iframe.src =
                        "https://human.maum.ai/?background=1&amp;scenario=1&amp;avatar=1";iframe.frameBorder =
                        "0";iframe.allow =
                        "camera;microphone";document.body.appendChild(iframe);document.getElementsByTagName("html")[0].style.height
                        = "100%";document.getElementsByTagName("body")[0].style.height =
                        "100%";window.parent.document.getElementById("myframe").width =
                        "100%";window.parent.document.getElementById("myframe").height = "100%";};&lt;/script&gt;</p>
                    </div>
                </div>
                <div id="floating" class="tab_cnt">
                    <div class="output_cnt"><p>
                        &lt;!-- header에 추가 --&gt;&lt;!link rel="stylesheet" href="https://sds.maum.ai/css?host=마인즈랩 챗봇"
                        /&gt;&lt;!-- body 가장 하단에 추가 --&gt;&lt;script&gt; src="https://sds.maum.ai/js/마인즈랩 챗봇"&gt;&lt;/script&gt;</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- //.pop_mid -->
        <div class="pop_btn">
            <button class="blue_btn" type="button"><i class="fa fa-link"></i> 복사하기</button>
        </div>
    </div>
    <!-- //.popWrap -->
</div>
<!-- //내보내기 -->


<!-- #container -->
<div id="container">
    <!-- .contents -->
    <div class="contents">
        <div class="mvp_box mvp_box02">

            <th:block th:replace="fragments/top_profile :: headerFragment"></th:block>

            <div class="script_wrap">
                <div class="script_area">
                    <div class="pjt_infoBox active">
                        <h3 class="tit" id="projectNameText"></h3>
                        <span class="txt"> </span>
                    </div>

                    <!-- .stn stn_top -->
                    <div class="stn stn_top">
                        <!-- .cont_box -->
                        <div class="character_list">
                            <ul class="charL_ul" id="avatar_ul"><!-- 아바타 리스트 --></ul>
                        </div>
                    </div>
                    <!-- //.stn stn_top -->

                    <div class="mvp_contents">
                        <!-- .stn stn_board -->
                        <div class="stn_board">
                            <div class="board_top">
                                <button class="btn_reset" id="resetFlow" onclick="resetScripts()"
                                        th:text="#{button.15}"><em
                                        class="fas fa-undo"></em>&nbsp;&nbsp;
                                    설정 초기화
                                </button>

                                <button class="play" id="Button_MVPExec" data-popup="loading_play"
                                        onclick="allPlayVideo()" th:text="#{button.17}"><em
                                        class="fas fa-project-diagram"></em> 실행
                                </button>

                                <button class="btn_save btn_modal_open" type="submit" id="saveFlow_btn"
                                        data-popup="Popup_Message" th:text="#{button.16}">저장
                                </button>
                            </div>
                            <!-- .stn_cnt -->
                            <div class="stn_cnt script_list">
                                <ul id="script_ul"></ul>

                                <div class="add" onclick="handleAdd()" id="scriptAddHandleDiv"></div>

                            </div>
                            <!-- //.cont_box -->
                        </div>
                        <!-- //.stn stn_board -->

                        <!-- .stn stn_preview -->
                        <div class="stn_preview">
                            <ul class="sub_menu">
                                <li th:text="#{button.19}"></li>
                            </ul>
                            <!-- .stn_cnt -->
                            <div class="stn_cnt">
                                <div class="preview_select">
                                    <div class="preview_video">
                                        <button class="btn_pxpand btn_modal_open video_inner_icon"
                                                data-popup="pop_show_preview"
                                                title="확대보기"><i class="fas fa-expand-arrows-alt"></i><span>확대보기</span>
                                        </button>
                                        <button class="btn_play btn_play_play video_inner_icon"
                                                id="play_pause_control_btn">
                                            <i class="far"></i>
                                        </button>
                                        <video src="assets/video/preview_avatar_baseline.mp4"
                                               id="preview_video_play" onended="playNextVideo()"></video>
                                    </div>
                                    <button class="btn_all_download" onclick="allDownload()" th:text="#{button.18}">전체
                                        다운로드
                                    </button>
                                </div>
                            </div>
                            <!-- //.stn_cnt -->
                        </div>
                        <!-- //.stn stn_preview -->
                    </div>
                    <!-- //.mvp_contents -->

                    <div id="Layer_AudioPlayer">
                        <audio id="AudioPlayer_TTS" controls hidden>
                            <source id="AudioSource_TTS" src="" type="audio/wav"/>
                        </audio>

                        <audio id="AudioPlayer" controls hidden>
                            <source id="AudioSource" src="" type="audio/wav"/>
                        </audio>

                        <audio id="AudioPlayer_mix" controls hidden>
                            <source id="AudioSource_mix" src="" type="audio/wav"/>
                        </audio>
                        <audio id="AudioPlayer_req" controls hidden>
                            <source id="AudioSource_req" src="" type="audio/wav"/>
                        </audio>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- //.contents -->

    <!-- #footer -->
    <div id="footer">
        <div class="lot_c">
            <div class="cyrt">
                <p> © Copyright 2020 ㈜ 마인즈랩 경기도 성남시 분당구 대왕판교로644번길 49 다산타워 6층 ㅣ 대표 유태준 ㅣ사업자 등록번호 314-86-55446
                    <a href="javascript:void(0)" class="contact_btn"> ㅣ 문의하기 ㅣ </a>
                    <a href="https://maum.ai/home/krTermsMain" target="_blank">이용약관</a>
                </p>
            </div>
            <!-- 			<div class="cyrt"><span>MINDsLab &copy; 2019</span></div> -->
        </div>
    </div>
    <!-- //#footer -->

    <!-- 실행시 로딩 팝업 -->
    <div id="loading_play" class="modal_pop">
        <div class="popWrap loading_play">
            <div class="popmid">
                <div class="loading_playDiv">
                    <div class="loadingPlay">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                <p th:utext="#{avatar.generating}"></p>
            </div>
        </div>
    </div>
    <!-- //실행시 로딩 팝업 -->

</div>
<!-- //#container -->

<th:block layout:fragment="script">

    <script th:inline="javascript">
        let avatarList = /*[[${avatarList}]]*/'';
        let background = /*[[${background}]]*/'';
        let template = /*[[${templateId}]]*/'';
        let projectName = /*[[${projectName}]]*/'';
        let scripts = [];
        let builderFlowId = /*[[${builderFlowId}]]*/'';
        let scriptManager;
        let selectedAvatar = null;

        <!-- Handle Script -->
        $(window).load(function () {
            scriptManager = [];
            init();
        });

        function init() {
            if (builderFlowId != null) {
                $.ajax({
                    url: "/builder/flow?flowId=" + builderFlowId,
                    type: "get",
                    success: function (result, textStatus, jqXHR) {
                        $("#projectNameText").text(result.projectName);
                        if (result.scriptList.length === 0) {
                            $("#saveFlow_btn").attr("disabled", true);
                            $("#saveFlow_btn").addClass("disable");
                            $(".play").attr("disabled", true);
                            $(".play").addClass("disable");
                            $(".btn_all_download").attr("disabled", true);
                            $(".btn_all_download").addClass("disable");
                            $("#scriptAddHandleDiv").hide();
                        } else {
                            result.scriptList.forEach(script => {
                                let scriptAvatarId = script.avatarId;
                                let avatar = avatarList.filter(avatar => avatar.id == scriptAvatarId)[0];
                                scriptManager.push({
                                    avatar: avatar,
                                    background: script.backgroundUrl,
                                    text: script.text
                                });
                            });
                        }
                        render();
                    },
                    error: function (jqXHR) {
                        console.log(jqXHR.responseText)
                    }
                });
            } else {
                resetScripts("init");
            }
            getUserBackground();
            renderAvatar();
        }

        function avatarUsageChecker(avatar) {
            if (avatar.purchased == 'Y') {
                let text1 = lang_code == 'ko' ? "" : "잔여";
                let text2 = lang_code == 'ko' ? "characters remain" : "자";
                return `
                    <button class="btn_charL_purchase charL_usage" >${text1}<span><em>${avatar.remainedUsage}</em></span> ${text2}</button>
                `
            } else {
                return `
                    <button class="btn_charL_purchase" onclick="showTemplateAlert()">${lang_code == 'ko' ? 'Go to Store' : '스토어 구입하기'}</button>
                `
            }
        }

        function renderAvatar() {
            $("#avatar_ul").empty();
            avatarList.forEach((avatar, index) => {
                let view = `
                <li class="charL_list" data-avatar-id="${avatar.id}">
                    <div class="charL_pic" data-avatar-idx="${index}">
                        <img src="${avatar.thumbnailUrl}" alt="${lang_code == 'ko' ? avatar.displayNameEn : avatar.displayName}" style="cursor: pointer;" data-avatar-purchased="${avatar.purchased}"/>
                        <p class="charL_name">${lang_code == 'ko' ? avatar.displayNameEn : avatar.displayName}</p>
                        <button class="btn_charL_preview btn_modal_open" data-popup="pop_show_preview" data-preview="${avatar.previewUrl}" title="미리보기">
                            <span>${lang_code == 'ko' ? "Preview" : "미리보기"}</span><i class="fa fa-volume"></i>
                        </button>
                        <div class="charL_btn_area">
                            ${avatarUsageChecker(avatar)}
                        </div>
                    </div>
                </li>
                `;
                $("#avatar_ul").append(view);
            });
        }

        function saveFlow() {
            let sendData = {
                flowId: builderFlowId,
                projectName: projectName,
                scriptList: []
            };

            scriptManager.forEach(script => {
                sendData.scriptList.push({
                    avatarId: script.avatar.id,
                    backgroundUrl: script.background,
                    text: script.text
                });
            });

            $.ajax({
                url: "/builder/flow:save",
                type: "post",
                data: JSON.stringify(sendData),
                contentType: "application/json",
                success: function (result, textStatus, jqXhr) {
                    location.href = "/avatar-builder?flowId=" + result + "&template=avatar&flag=read";
                },
                error: function (jqXHR) {
                    console.log(jqXHR);
                }
            })
        }

        function resetScripts(flag) {
            resetVideoSrc();
            scriptManager = [];
            selectedAvatar = null;
            $("#scriptAddHandleDiv").hide();

            if ($("#saveFlow_btn").hasClass("disable") != true) {
                $("#saveFlow_btn").attr("disabled", true);
                $("#saveFlow_btn").addClass("disable");
                $(".play").attr("disabled", true);
                $(".play").addClass("disable");
                $(".btn_all_download").attr("disabled", true);
                $(".btn_all_download").addClass("disable");
            }

            scripts.forEach((v, idx) => {
                scriptManager.push({
                    avatar: null,
                    background: null,
                    text: v.text,
                })
            });
            if (scripts.length == 0) {
                if (flag != "init") {
                    $("#script_ul").empty();
                }
                handleAdd();
            } else {
                render();
            }

        }

        function indexFormatter(idx) {
            return `000${idx}`.substr(-3);
        }

        let playVideoList = [];
        let playIndex = 0;

        function removeLoading() {
            $("body").css("overflow", "");
            $(".lyr_bg").fadeOut(800).remove();
            $("body").find("#loading_play").unwrap('<div class="lyrWrap"></div>');
        }

        function createLoading() {
            $("body").css('overflow', 'hidden');
            $("body").find("#loading_play").wrap('<div class="lyrWrap"></div>');
            $("body").find("#loading_play").before('<div class="lyr_bg"></div>');
        }

        function allPlayVideo() {
            let sendData = [];
            let emptyStr = false;

            if (scriptManager.length === 0) {
                alert("스크립트가 없어 실행할 수 없습니다.");
                return;
            }

            scriptManager.forEach(script => {
                if (script.text.trim().length === 0) {
                    alert(lang_code == 'ko' ? 'Please enter your details.' : '내용을 입력해주세요.');
                    emptyStr = true;
                    return false;
                }
                sendData.push({
                    model: script.avatar.model,
                    text: script.text,
                    backgroundUrl: script.background,
                    behavior: "play"
                });
            });

            if (emptyStr) return

            createLoading();

            makeLoadImage();

            setTimeout(function () {
                $.ajax({
                    url: "/builder/play:all",
                    type: "post",
                    contentType: "application/json",
                    data: JSON.stringify(sendData),
                    async: true,
                    success: function (result) {
                        playIndex = 0;
                        playVideoList = [];
                        result.forEach(response => playVideoList.push(response.downloadUrl));
                        $("#preview_video_play").attr("src", playVideoList[playIndex]);
                        $("#preview_vid").attr("src", playVideoList[playIndex]);
                        playIndex++;
                    },
                    error: function (jqXHR) {
                        console.log(jqXHR);
                        if (jqXHR.responseJSON?.code === 'contain_swear') {
                            lang_code === "en" ? alert("비속어, 욕설 또는 정치적, 성적인 단어가 포함된 문장은 사용하실 수 없습니다.") : alert("You cannot use slangs, swear words, or sentences containing political or sexual words.");
                        }

                        if (jqXHR.responseJSON?.code === 'contain_incomplete') {
                            lang_code === "en" ? alert("불완성된 문구가 포함되어 있거나 특수문자만으로 구성된 경우에는 재생이 불가능합니다.") : alert("You cannot play the video if it contains incomplete phrases or only special characters.");
                        }

                        if (jqXHR.status === 500) {
                            console.error(jqXHR?.responseText)
                            // alert(jqXHR?.responseText);
                        }
                    },
                }).always(function () {
                    $(".video_inner_icon").css("display", "block");
                    deleteLoadImage()
                    removeLoading();
                });
            }, 500)
        }

        function playNextVideo() {
            if (playIndex < playVideoList.length) {
                $("#preview_video_play").attr("src", playVideoList[playIndex]);
                $("#preview_vid").attr("src", playVideoList[playIndex]);
                playIndex++;
            }
            $("#play_pause_control_btn").addClass("btn_play_play").removeClass("btn_play_pause");
        }

        function allDownload() {
            resetVideoSrc();

            let sendData = [];
            let emptyText = false;

            if (scriptManager.length === 0) {
                alert("스크립트가 없어 실행할 수 없습니다.");
                return;
            }

            // if (scriptManager.filter(sc => sc.avatar.remainedUsage == '0').length != 0) {
            //     $("body").css('overflow', 'hidden');
            //     $("body").find("#pop_lackUsage").wrap('<div class="lyrWrap"></div>');
            //     $("body").find("#pop_lackUsage").before('<div class="lyr_bg"></div>');
            //     return;
            // }

            scriptManager.forEach(script => {
                if (script.text.trim().length === 0) {
                    alert(lang_code == 'ko' ? 'Please enter your details.' : '내용을 입력해주세요.');
                    emptyText = true;
                    return false;
                }
                sendData.push({
                    model: script.avatar.model,
                    text: script.text,
                    backgroundUrl: script.background,
                    behavior: "download"
                });
            });

            if (emptyText) return;

            var link = document.createElement("a");
            link.setAttribute("download", null);
            link.style.display = "none";
            document.body.appendChild(link);

            createLoading();
            makeLoadImage();

            setTimeout(function () {
                downloadAllVideo(sendData, link)
            }, 500)
        }

        function downloadAllVideo(sendData, link) {
            $.ajax({
                type: "post",
                url: "/builder/play:all",
                contentType: "application/json",
                data: JSON.stringify(sendData),
                async: true,
                success: function (result) {
                    result.forEach((response, idx) => {
                        $("em[data-remained-avatar-model='" + sendData[idx].model + "']").text(response.remainedUsage);
                        sleep(1500);
                        link.setAttribute('href', response.downloadUrl);
                        link.click();
                    })
                    removeLoading();
                    document.body.removeChild(link);
                },
                error: function (jqXHR) {
                    console.log(jqXHR);
                    removeLoading();
                    if (jqXHR.status == 404) {
                        showTemplateAlert();
                    }
                    if (jqXHR.responseJSON?.code === 'remainedUsageException') {
                        $("body").css('overflow', 'hidden');
                        $("body").find("#pop_lackUsage").wrap('<div class="lyrWrap"></div>');
                        $("body").find("#pop_lackUsage").before('<div class="lyr_bg"></div>');
                    }
                    if (jqXHR.responseJSON?.code === 'contain_swear') {
                        lang_code === "en" ? alert("비속어, 욕설 또는 정치적, 성적인 단어가 포함된 문장은 사용하실 수 없습니다.") : alert("You cannot use slangs, swear words, or sentences containing political or sexual words.");
                    }

                    if (jqXHR.responseJSON?.code === 'contain_incomplete') {
                        lang_code === "en" ? alert("불완성된 문구가 포함되어 있거나 특수문자만으로 구성된 경우에는 재생이 불가능합니다.") : alert("You cannot play the video if it contains incomplete phrases or only special characters.");
                    }

                    if (jqXHR.status === 500) {
                        console.error(jqXHR?.responseText)
                        // alert(jqXHR?.responseText);
                    }
                }
            }).always(function () {
                $(".video_inner_icon").css("display", "block");
                deleteLoadImage()
            });
        }

        function sleep(ms) {
            const wakeUpTime = Date.now() + ms
            while (Date.now() < wakeUpTime) {
            }
        }

        $(document).on("input", ".scriptText", function () {
            if ($(this).val().length >= 150) {
                $(this).val($(this).val().substr(0, 150));
            }

            const currentIdx = $(this).data("script-text-idx");
            scriptManager[currentIdx].text = $(this).context.value;
        });

        function resetVideoSrc() {
            $("#preview_video_play").attr("src", "");
            $("#preview_vid").attr("src", "");
        }

        function handleDelete(idx) {
            scriptManager.splice(idx, 1);
            render();
        }

        function redirectStore() {
            noneTemplateAlert();
            let openNewWindow = window.open("about:blank");
            openNewWindow.location.href = "https://store.maum.ai/";
        }

        function handlePlayAndDownload(idx, behavior) {
            console.log($(this));
            const script = scriptManager[idx];

            let sendData = {
                model: script.avatar.model,
                text: script.text,
                backgroundUrl: script.background
            }

            if (sendData.text.trim().length == 0) {
                alert(lang_code == 'ko' ? 'Please enter your details.' : '내용을 입력해주세요.');
                return;
            }

            makeLoadImage();
            createLoading();

            setTimeout(function () {
                avatarVideoCall(sendData, behavior)
            }, 500)

        }

        function makeLoadImage() {
            $("#preview_video_play").attr("src", "");
            $(".video_inner_icon").css("display", "none");
            $(".preview_video").css('background-image', 'url(\"/image/avatar_builder_load.gif\")');
            $(".preview_video").css('background-repeat', 'no-repeat');
            $(".preview_video").css('background-size', 'contain');
            $(".preview_video").css('background-position', 'center');
        }

        function deleteLoadImage() {
            $(".preview_video").removeAttr("style");
            $(".preview_video").css('background-image', '');
            $(".preview_video").css('background-repeat', '');
            $(".preview_video").css('background-size', '');
            $(".preview_video").css('background-position', '');
        }

        function showTemplateAlert() {
            $("body").css('overflow', 'hidden');
            $("body").find("#Popup_Template_Message").wrap('<div class="lyrWrap"></div>');
            $("body").find("#Popup_Template_Message").before('<div class="lyr_bg"></div>');
        }

        function noneTemplateAlert() {
            $("body").css("overflow", "");
            $(".lyr_bg").fadeOut(800).remove();
            $("body").find(".modal_pop").unwrap('<div class="lyrWrap"></div>');
        }

        function avatarVideoCall(sendData, behavior) {
            sendData.behavior = behavior;
            sendData.template = template;

            $.ajax({
                url: "/builder/play",
                type: "post",
                contentType: "application/json",
                data: JSON.stringify(sendData),
                async: true,
                success: function (response) {
                    if (behavior === 'play') {
                        $("#preview_video_play").attr("src", response.downloadUrl);
                        $("#preview_vid").attr("src", response.downloadUrl);
                    } else {
                        $("em[data-remained-avatar-model='" + sendData.model + "']").text(response.remainedUsage);
                        resetVideoSrc()
                        window.location.assign(response.downloadUrl);
                    }
                    removeLoading();
                },
                error: function (jqXHR) {
                    console.log(jqXHR);
                    removeLoading();

                    if (jqXHR.status == 404) {
                        showTemplateAlert();
                    }

                    if (jqXHR.responseJSON?.code === 'remainedUsageException') {
                        $("body").css('overflow', 'hidden');
                        $("body").find("#pop_lackUsage").wrap('<div class="lyrWrap"></div>');
                        $("body").find("#pop_lackUsage").before('<div class="lyr_bg"></div>');
                    }

                    if (jqXHR.responseJSON?.code === 'contain_swear') {
                        lang_code === "en" ? alert("비속어, 욕설 또는 정치적, 성적인 단어가 포함된 문장은 사용하실 수 없습니다.") : alert("You cannot use slangs, swear words, or sentences containing political or sexual words.");
                    }

                    if (jqXHR.responseJSON?.code === 'contain_incomplete') {
                        lang_code === "en" ? alert("불완성된 문구가 포함되어 있거나 특수문자만으로 구성된 경우에는 재생이 불가능합니다.") : alert("You cannot play the video if it contains incomplete phrases or only special characters.");
                    }

                    if (jqXHR.status === 500) {
                        console.error(jqXHR?.responseText)
                    }
                }
            }).always(function () {
                $(".video_inner_icon").css("display", "block");
                deleteLoadImage()
            });
        }

        function handleScriptManagerLimit() {
            return scriptManager.length < 10 ? true : false;
        }

        function handleClone(idx) {
            if (!handleScriptManagerLimit()) {
                alert(lang_code == 'ko' ? "You can create up to 10 scripts." : "스크립트는 최대 10개까지 만드실 수 있습니다.")
                return;
            }

            const clonedScript = scriptManager[idx];
            scriptManager.push(Object.assign({}, clonedScript));
            const currentIndex = scriptManager.length - 1;
            scriptBuilder(currentIndex);
        }

        function handleBg(idx) {
            selectedScript = idx;
        }

        function handleAdd() {
            if (!handleScriptManagerLimit()) {
                alert(lang_code == 'ko' ? "You can create up to 10 scripts." : "스크립트는 최대 10개까지 만드실 수 있습니다.")
                return;
            }

            if (selectedAvatar != null) {
                if ($("#scriptAddHandleDiv").css('display') === 'none') {
                    $("#scriptAddHandleDiv").show();
                }

                if ($("#saveFlow_btn").hasClass("disable") == true) {
                    $("#saveFlow_btn").attr("disabled", false);
                    $("#saveFlow_btn").removeClass("disable");
                    $(".play").attr("disabled", false);
                    $(".play").removeClass("disable");
                    $(".btn_all_download").attr("disabled", false);
                    $(".btn_all_download").removeClass("disable");
                }

                scriptManager.push({
                    avatar: selectedAvatar,
                    background: null,
                    text: "",
                })
                const currentIndex = scriptManager.length - 1;
                scriptBuilder(currentIndex);
            }
        }

        $(document).on("click", ".charL_pic", function () {
            // isPurchased = $(this).find("img").data("avatar-purchased") == 'Y' ? true : false;
            // if (isPurchased) {
                $(".charL_pic").removeClass("active");
                $(this).addClass("active");
                selectedAvatarIdx = $(this).data("avatar-idx");
                selectedAvatar = avatarList[selectedAvatarIdx];
                handleAdd();
            // }
        });

        function scriptBuilder(idx) {
            let buildBackground = (function () {
                if (scriptManager[idx].background === null || scriptManager[idx].background === "" || scriptManager[idx].background === undefined) {
                    return `
                        <div class="bg_none btn_modal_open" data-popup="pop_select_background"></div>
                        <p class="avator_back">${lang_code === 'en' ? "배경 선택" : "Background"}</p>
                    `;
                } else {
                    let splitArr = scriptManager[idx].background.split("/");
                    if (splitArr[splitArr.length - 1] == 'transparent.png') {
                        return `
                            <div class="bg_none btn_modal_open" data-popup="pop_select_background"></div>
                            <p class="avator_back">${lang_code === 'en' ? "배경 선택" : "Background"}</p>
                        `;
                    }
                    return `
                        <img src="${scriptManager[idx].background}" alt=""
                             class="btn_modal_open" data-popup="pop_select_background" />
                        <p class="avator_back">${lang_code === 'en' ? "배경 선택" : "Background"}</p>
                    `;
                }
            })();


            $("#script_ul").append(`
                <li class="script">
                    <ul>
                        <li class="index">
                            <span>Script <em>${indexFormatter(idx + 1)}</em></span>
                            <div class="function_buttons">
                                <button class="btn_play_preview btn_script_function" title="미리보기" onclick="handlePlayAndDownload(${idx}, 'play')">
                                    <i class="fas fa-play-circle"></i>
                                    <span>미리보기</span>
                                </button>
                                <button class="btn_script_function" title="개별 다운로드" onclick="handlePlayAndDownload(${idx}, 'download')">
                                    <i class="fas fa-download"></i>
                                    <span>개별 다운로드</span>
                                </button>
                                <button class="btn_script_function" title="복제하기" onclick="handleClone(${idx})">
                                    <i class="fas fa-clone"></i>
                                    <span>복제하기</span>
                                </button>
                                <button class="btn_script_function" title="한줄삭제" onclick="handleDelete(${idx})">
                                    <i class="fas fa-trash-alt"></i>
                                    <span>한줄삭제</span>
                                </button>
                            </div>
                        </li>
                        <li class="conversation">
                            <div class="cnv_avator">
                                <div class="avatar">
                                    <img src="${scriptManager[idx].avatar.thumbnailUrl}" alt="${scriptManager[idx].avatar.displayName}">
                                    <p class="avator_name">${lang_code == 'ko' ? scriptManager[idx].avatar.displayNameEn : scriptManager[idx].avatar.displayName}</p>
                                </div>
                                <div class="avatar" onclick="handleBg(${idx})">
                                     ${buildBackground}
                                </div>
                            </div>
                            <textarea name="script" class="scriptText" cols="30" rows="10" class=""
                                      placeholder="${lang_code == 'ko' ? 'Please enter your details.' : '내용을 입력해주세요.'}" data-script-text-idx=${idx}>${scriptManager[idx].text}</textarea>
                        </li>
                    </ul>
                </li>
            `)
        }

        function render() {
            $("#script_ul").empty();
            for (let i = 0; i < scriptManager.length; i++) {
                scriptBuilder(i);
            }
        }

        <!-- Handle Background -->
        let selectedScript = -1;
        let selectedBg = null;
        let selectedBgWaterMarkUrl = null;

        $(document).on("click", ".basic_bg", function () {
            selectedBg = $(this).data("background-url");
            $('.basic_bg').removeClass('selected');
            $(this).addClass('selected');
        });

        function handleModifyBg() {
            if (selectedBg != null) {
                scriptManager[selectedScript].background = selectedBg;
            }
            selectedScript = -1;
            selectedBg = null;
            render();
            noneTemplateAlert();
        }

        // Handle Upload Background
        let userBackground = []

        function renderUserBackground() {
            $("#user_bg_ul").empty();
            for (let i = 0; i < userBackground.length; i++) {
                $("#user_bg_ul").append(`
                    <li class="basic_bg" data-background-url='${userBackground[i].url}'>
                        <i class="fas fa-times btn_delete user_bg_delete" data-background-id='${userBackground[i].id}' data-background-url='${userBackground[i].url}'>삭제</i>
                        <img src='${userBackground[i].url}' alt="">
                        <div class="border"></div>
                    </li>
                `);
            }
        }

        function getUserBackground() {
            $.ajax({
                url: "/builder/userBackground",
                type: "post",
                contentType: "application/json",
                success: function (data) {
                    userBackground = data;
                    renderUserBackground();
                },
                error: function (err) {
                    console.log("GetUserBackground Error");
                    console.log(err);
                }
            });
        }

        $(document).on("click", ".user_bg_delete", function () {
            selectedUserBgId = $(this).data("background-id");
            selectedUserBgUrl = $(this).data("background-url");
            data = {
                id: selectedUserBgId
            }
            $.ajax({
                url: '/builder/userBackground:delete',
                data: data,
                type: 'POST',
                success: function (data) {
                    userBackground = data;
                    selectedBg = null;

                    scriptManager.map((v, idx) => {
                        if (v.background == selectedUserBgUrl) {
                            v.background = null;
                        }
                    })

                    renderUserBackground();
                },
                error: function (err) {
                    console.log("Error");
                    console.log(err);
                }
            });
        });

        function dragOver(e) {
            e.stopPropagation();
            e.preventDefault();
        }

        $(document).on("change", '#imgSampleInputFile', function (e) {
            let files = e.target.files || e.dataTransfer.files;

            const regExp = /[a-z|A-Z|0-9|.\-_]/;
            for (let i = 0; i < files[0].name.length; i++) {
                if (regExp.test(files[0].name.charAt(i)) == false) {
                    alert('이미지의 파일 이름은 영문, 숫자, 하이픈(-), 언더바(_)만 사용 가능하며 한글, 특수문자 및 공백이 사용된 파일명은 등록이 불가능합니다.');
                    return false;
                }
            }

            if (files[0].type != "image/png" && files[0].type != "image/jpeg" && files[0].type != "image/jpg" && files[0].type != "image/gif") {
                alert("png, jpg, gif 파일만 삽입 가능합니다.");
                return;
            }

            if (files[0].size > (1024 * 1024 * 5)) {
                alert("5MB 이하의 파일만 업로드 가능합니다.");
                return;
            }

            let formData = new FormData();
            formData.append('file', files[0]);
            $.ajax({
                url: '/builder/userBackground:save',
                data: formData,
                processData: false,
                contentType: false,
                type: 'POST',
                async: false,
                success: function (data) {
                    userBackground = data;
                    renderUserBackground();
                },
                error: function (err) {
                    console.log("Error");
                    console.log(err);
                }
            })
        });

        function uploadFile(e) {
            e.stopPropagation();
            e.preventDefault();
            dragOver(e)
            e.dataTransfer = e.originalEvent.dataTransfer; //2
            let files = e.target.files || e.dataTransfer.files;
            if (files.length > 1) {
                alert("1개의 파일만 업로드 할 수 있습니다.")
                return;
            }
            const regExp = /[a-z|A-Z|0-9|.\-_]/;
            for (let i = 0; i < files[0].name.length; i++) {
                if (regExp.test(files[0].name.charAt(i)) == false) {
                    alert('이미지의 파일 이름은 영문, 숫자, 하이픈(-), 언더바(_)만 사용 가능하며 한글, 특수문자 및 공백이 사용된 파일명은 등록이 불가능합니다.');
                    return false;
                }
            }
            if (files[0].type != "image/png" && files[0].type != "image/jpeg" && files[0].type != "image/jpg" && files[0].type != "image/gif") {
                alert("png, jpg, gif 파일만 삽입 가능합니다.");
                return;
            }
            if (files[0].size > (1024 * 1024 * 5)) {
                alert("5MB 이하의 파일만 업로드 가능합니다.");
                return;
            }

            let formData = new FormData();
            formData.append('file', files[0]);
            $.ajax({
                url: '/builder/userBackground:save',
                data: formData,
                processData: false,
                contentType: false,
                type: 'POST',
                success: function (data) {
                    userBackground = data;
                    renderUserBackground();
                },
                error: function (err) {
                    console.log("Error");
                    console.log(err);
                }
            })
        }

        $(".upload_background")
            .on("dragover", dragOver)
            .on("dragleave", dragOver)
            .on("drop", uploadFile);

    </script>

    <!--    공통 푸터 부분-->
    <!--<iframe src="https://maum.ai/serviceLanding/krFooter" class="footer_iframe"></iframe>-->
    <script>

        var selectedMovingScript = null;
        $(function () {
            $(document).on("click", ".btn_modal_open", function () {
                var popupId = "#" + $(this).attr("data-popup");
                var previewUrl = $(this).attr("data-preview");

                if (popupId == "#pop_show_preview") {
                    $("#preview_video_play").get(0).pause();
                }

                $("#preview_vid").attr("src", previewUrl);

                $("body").css('overflow', 'hidden');
                $("body").find(popupId).wrap('<div class="lyrWrap"></div>');
                $("body").find(popupId).before('<div class="lyr_bg"></div>');

                // Add close event
                $(".btn_modal_close").on("click", function (){
                    $("body").css("overflow", "");
                    $(".lyr_bg").fadeOut(800).remove();
                    $("body").find(popupId).unwrap('<div class="lyrWrap"></div>');
                })

                // Highlight Box
                let isChecked = false;
                $("body").find(popupId).find('.tab_cnt_list').children().each((idx, value) => {
                    let bg = $(value).attr('data-background-url');
                    let selectedBg = scriptManager[selectedScript].background;
                    if (bg === selectedBg) {
                        $('.basic_bg').removeClass('selected');
                        $(value).addClass('selected');
                        isChecked = true;
                    }
                });
                if (!isChecked) {
                    $('.basic_bg').removeClass('selected');
                    $("body").find(popupId).find('.tab_cnt_list').children().last().addClass('selected');
                }
            });

            $(document).on("click", ".btn_template_close", function () {
                noneTemplateAlert();
            });

            $(".btn_play").on("click", function () {
                if ($(this).hasClass("btn_play_play")) {
                    $(this).siblings("video").get(0).play();
                    $(this).addClass("btn_play_pause").removeClass("btn_play_play");
                } else {
                    $(this).siblings("video").get(0).pause();
                    $(this).addClass("btn_play_play").removeClass("btn_play_pause");
                }
            })

            $("#pop_show_preview .btn_modal_close").on("click", function () {
                $(this).parents(".modal_pop").find("video").get(0).pause();
                noneTemplateAlert();
            })

            $(".tabs_ul li").click(function () {
                var tab_id = $(this).attr("data-tab");
                $(this).siblings(".tab_link").removeClass("on");

                $(this).parent().siblings(".tab_cnt").removeClass("on");
                $(this).addClass("on");
                $("#" + tab_id).addClass("on");
            })

            // 스크립트 이동
            $("#script_ul").sortable({
                animation: 150,
                ghostClass: 'blue-background-class',
                start: function (event, ui) {
                    selectedMovingScript = ui.item.index();
                },
                update: function (event, ui) {
                    let temp = scriptManager[selectedMovingScript];
                    scriptManager.splice(selectedMovingScript, 1);
                    scriptManager.splice(ui.item.index(), 0, temp);

                    render();
                }
            });
        });
    </script>
    <script>

        let messages;
        if (lang_code === 'ko')
            messages = messages_ko;
        else
            messages = messages_en;


        $(window).resize(function () {
            var height = $(window).height(),
                titleShow = $('.pjt_infoBox').hasClass('active');

            $('.frameBox').css('height', height - 125 + 'px');
        });

        $(document).ready(function () {
            $('em.fa-text-height').on('click', function () {
                $(this).empty();
                $(this).prependTo('eidj')
            });

            // 공통 팝업창 닫기
            $('.ico_close, .pop_bg, .btn_close, .btn_lyrWrap_close').on('click', function () {
                $('.pop_simple').fadeOut(300);
                $('.lyr_service').fadeOut(200);
                $('#mail_success').fadeOut(200);
                $('body').css({
                    'overflow': '',
                });
            });

            var height = $(window).height(),
                titleShow = $('.pjt_infoBox').hasClass('active');

            $('.frameBox').css('height', height - 125 + 'px');

            $(".service_btn").on('click', function () {
                $(this).toggleClass('active');
                $(this).next(".dropdown-menu").slideToggle(200);
            });
            $(".service_btn").on('click', function () {
                $(this).toggleClass('active');
                $(this).next(".dropdown-menu").slideToggle(200);
            });

            $('.service_layer').on('click', function () {
                $('.lyr_service').fadeIn(200);
            });

            $('.mailing_btn').on('click', function () {
                $('#lyr_mailing').fadeIn(200);
                $('#name').val('');
                $('#phone').val('');
                $('#mail').val('');
                $('#txt').val('');
                $('.inquiry_box input, .inquiry_box textarea').siblings('label').show();
                $('#title').text(messages.home.ask_custome_model);
            });
            $('.contact_btn').on('click', function () {
                $('#lyr_mailing').fadeIn(200);
                $('#title').text(messages.home.ask);

            });
            $('#callFlow_humanSpeech').on('click', function () {
                var appName = "ai_humanSpeech";
                callAppFlow(appName);
            });
            $('#callFlow_humanText').on('click', function () {
                var appName = "ai_humanText";
                callAppFlow(appName);
            });
            $('#callFlow_maumMinutes').on('click', function () {
                var appName = "maum_minutes";
                callAppFlow(appName);
            });

            $('#callFlow_fastAI').on('click', function () {
                var appName = "fast_ai";
                callAppFlow(appName);
            });

            $('#callFlow_kiosk').on('click', function () {
                var appName = "kiosk";
                callAppFlow(appName);
            });

            function validateEmail(sEmail) {
                var filter = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
                if (filter.test(sEmail)) {
                    return true;
                } else {
                    return false;
                }
            }

            $('#sendMail').on('click', function () {
                var name = $('#name').val();
                var number = $('#phone').val();
                var email = $('#mail').val();
                var memo = $('#txt').val();
                var pop_title = $('#title').text();
                var param = location.search;
                var noti;
                var title;
                if (name === '' || number === '' || email === '' || memo === '') {
                    alert(messages.home.error_missing_input);

                } else if (validateEmail(email) == false) {

                    alert(messages.home.error_valid_email);

                } else {

                    if (pop_title == "나만의 모델 만들기 문의" || pop_title == "Ask to create custom models") {
                        if (param == "?lang=en") {
                            noti = "Sent from AI Human Builder(EN) inquiry for customized model";
                        } else {
                            noti = "AI Human Builder(KR) Customized Model 문의입니다.";
                        }
                        title = "[AI Human Builder] " + name + " 님의 Customized Model 문의입니다.";
                    } else if (pop_title == "문의하기" || pop_title == "Ask Now") {
                        if (param == "?lang=en") {
                            noti = "Sent from AI Human Builder(EN)";
                        } else {
                            noti = "AI Human Builder(KR)에서 보낸 메일입니다.";
                        }
                        title = "[AI Human Builder] " + name + " 님의 문의입니다.";
                    }
                    var mailContents = "이름 : " + name + "<br>"
                        + "전화번호 : " + number + "<br>"
                        + "Email : " + email + "<br>"
                        + "문의내용 : " + memo + "<br><br><br><br>"
                        + noti;

                    var formData = new FormData();
                    formData.append('fromAddr', $("#mail").val());
                    formData.append('toAddr', 'hello@mindslab.ai');
                    formData.append('subject', title);
                    formData.append('msg', mailContents);
                    formData.append($("#key").val(), $("#value").val());

                    console.log(formData);

                    $.ajax({
                        type: 'POST',
                        async: true,
                        url: '/sendmail/reqMail',
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (result) {
                            $('#name').val("");
                            $('#phone').val("");
                            $('#mail').val("");
                            $('#txt').val("");
                            console.log(result.toString());
                            console.log("sending info success");

                            $('#lyr_mailing').hide();
                            $('#mail_success').fadeIn();
                            var placeholderLabel = $('.inquiry_box input, .inquiry_box textarea');
                            placeholderLabel.siblings('label').show();


                        }, error: function (err) {
                            console.log("error! ", err);
                            alert(messages.home.error_sendMail);
                        }
                    });


                }
            });

            // 인풋 라벨
            var placeholderLabel = $('.inquiry_box input, .inquiry_box textarea');

            placeholderLabel.on('focus', function () {
                $(this).siblings('label').hide();
            });

            placeholderLabel.on('focusout', function () {
                if ($(this).val() === '') {
                    $(this).siblings('label').show();
                }
            });

            $('.menu_wrap .menu_icons em, .menu_bar a').on('click', function () {
                $('.projectBox .dlBox dd ul.lst li a').removeClass('active');
            });

            $('#pop_medel_add').each(function () {
                //등록버튼 활성화
                $('#pop_medel_add .ipt_txt, #pop_medel_add .textArea').on('keyup', function () {
                    var model_addIptTxtlength = $('#pop_medel_add .ipt_txt.w100').val().length,
                        model_addtextAreaTxtlength = $('#pop_medel_add .textArea').val().length;

                    if (model_addIptTxtlength > 1 && model_addtextAreaTxtlength > 1) {
                        $('#btn_model_add').prop('disabled', false); //버튼 활성화
                    } else {
                        $('#btn_model_add').prop('disabled', true); //버튼 비활성화
                    }
                });
                //input radio check
                $('.radioBox .ipt_radio').each(function () {
                    $('.radioBox .ipt_radio').on('change', function () {
                        var radioCheck = $(this).prop('checked'),
                            personCheck = $(this).attr('class');

                        if (radioCheck) {
                            $(this).parent().find('.ipt_radio').prop('checked', false);
                            $(this).prop('checked', true);
                        }

                        if (personCheck == 'ipt_radio go_person') {
                            $(this).parent().find('.field_person').css('display', 'inline-block');
                            $(this).parent().find('.field_person').focus();
                        } else {
                            $(this).parent().find('.field_person').css('display', 'none');
                            $(this).parent().find('.field_person').val('');
                        }
                    });
                });
            });
        });
    </script>

    <script>
        $(window).load(function () {
            //page loading delete
            $('#pageldg').addClass('pageldg_hide').delay(300).queue(function () {
                $(this).remove();
                // resetEngineStatus('a');
            });
        });
    </script>

    <!-- [P] 0715 추가 -->
    <script type="text/javascript">
        jQuery.event.add(window, "load", function () {
            $(document).ready(function () {
                // header user
                $('.userBox dl').on('click', function () {
                    $(this).parent().addClass('active');
                });

                $(document).on('click', function (e) {
                    if (!$('.userBox').has(e.target).length) {
                        $('.userBox').removeClass('active');
                    }
                });

            });
        });
    </script>
</th:block>
</body>
</html>