<!DOCTYPE html>
<html th:lang="#{language.code}" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<body layout:fragment="content">
<!-- .page loading -->
<div id="pageldg">
        <span class="out_bg">
            <em>
                <strong>&nbsp;</strong>
                <strong>&nbsp;</strong>
                <strong>&nbsp;</strong>
                <b>&nbsp;</b>
            </em>
        </span>
</div>
<!-- //.page loading -->

<!-- 삭제 팝업 -->
<div id="pop_delete" class="modal_pop">
    <!-- .popWrap -->
    <div class="popWrap">
        <div class="pop_top"><h2 th:text="#{button.25}"><i class="fas fa-times btn_modal_close"></i></h2></div>
        <!-- .pop_mid -->
        <div class="pop_mid tac">
            <p th:text="#{button.26}"></p>
        </div>
        <!-- //.pop_mid -->
        <div class="pop_btn">
            <button class="btn_modal_close blue_line_btn" th:text="#{project.cancel.btn}"></button>
            <button type="button" class="blue_btn flow_delete_button" id="flow_delete_button" th:text="#{button.confirm}"></button>
        </div>
    </div>
    <!-- //.popWrap -->
</div>
<!-- //삭제 팝업 -->

<!-- #container -->
<div id="container">
    <!-- .contents -->
    <div class="contents">
        <div class="mvp_box">

            <th:block th:replace="fragments/top_profile :: headerFragment"></th:block>

            <div class="project_start_wrap">
                <div class="ps_area">
                    <div class="stn_top">
                        <p class="desc" th:text="#{button.4}"></p>
                        <p class="tit"  th:text="#{button.5}">라이선스를 등록하고 지금 바로 사용해 보세요.</p>
                        <button class="blue_link_btn btn_modal_open" data-popup="pop_license_add">
                            <span th:text="#{button.3}">라이선스 등록</span>
                        </button>
                    </div>

                    <div class="stn_calling">
                        <h3 class="stn_tit">
                            [[#{button.7}]]
                            <span th:text="#{button.8}">이전에 제작된 AI Human을 목록 불러옵니다.</span>
                        </h3>
                        <div class="calling_avatar">
                            <ul class="calling_list">
                                <li th:if="${flowList.isEmpty()}" class="calling_none_list">
                                    <img src="/image/img_projectThumb_none.png" alt="생성된 프로젝트가 없습니다." />
                                    <div class="desc_txt" >
                                        <p class="none_txt" th:utext="#{project.empty[0]}"></p>
                                        <p class="none_tit" th:utext="#{project.empty[1]}"></p>
                                    </div>
                                    <span class="border"></span>
                                </li>
                                <li class="flow_li" th:each="flow : ${flowList}">
                                    <img th:src="${flow.thumbnailImage}" alt="아바타 이미지">
                                    <div class="avatar_desc" style="z-index: 4">
                                        <div class="desc_txt">
                                            <p class="avt_name" th:text="${flow.name}"></p>
                                            <p class="avt_txt" th:text="${flow.title}"></p>
                                        </div>
                                        <button class="btn_delete btn_modal_open flow_delete_modal_btn" data-popup="pop_delete"><i
                                                class="fa fa-trash-alt"></i><span>삭제</span></button>
                                    </div>
                                    <span class="border flow_border" th:data-templateId="${flow.flowId}" th:data-type="${flow.type}" th:data-projectName="${flow.name}"></span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="stn_start">
                        <h3 class="stn_tit">
                            [[#{button.9}]]
                            <span th:text="#{button.10}">사용용도 별 맞춤 템플릿으로 손쉽게 AI Human을 제작을 시작해보세요.</span>
                        </h3>
                        <div class="start_avatar">
                            <ul class="start_avatar_list" >
                                <li class="btn_modal_open pop_project_add_modal_btn" data-popup="pop_pjt_add" th:each="template : ${templateList}" th:data-type="${template.type}">
                                    <div class="img_area">
                                        <img th:src="${template.thumbnailImage}" alt="아바타 이미지"/>
                                        <span class="border"></span>
                                    </div>
                                    <div class="start_desc">
                                        <p class="start_name" th:text="${template.title}"></p>
                                        <div class="start_txts">
                                            <th:block th:each="description : ${template.descriptionList}">
                                                <span class="avt_txt" th:text="${description}"></span>
                                            </th:block>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //.contents -->

    <!-- #footer -->
    <div id="footer">
        <div class="lot_c">
            <div class="cyrt">
                <p> © Copyright 2020 ㈜ 마인즈랩 경기도 성남시 분당구 대왕판교로644번길 49 다산타워 6층 ㅣ 대표 유태준 ㅣ사업자 등록번호 314-86-55446
                    <a href="javascript:void(0)" class="contact_btn"> ㅣ 문의하기 ㅣ </a>
                    <a href="https://maum.ai/home/krTermsMain" target="_blank">이용약관</a>
                </p>
            </div>
            <!-- 			<div class="cyrt"><span>MINDsLab &copy; 2019</span></div> -->
        </div>
    </div>
    <!-- //#footer -->
</div>
<!-- //#container -->

<!-- page Landing -->
<script type="text/javascript" layout:fragment="script">
    $(window).load(function () {
        //page loading delete
        $('#pageldg').addClass('pageldg_hide').delay(300).queue(function () {
            $(this).remove();
            // resetEngineStatus('a');
        });
    });
</script>

<script>
    $(document).ready(function () {

        $(".flow_delete_modal_btn").on("click", function () {
            $("#flow_delete_button").data("templateid", $(this).parent().siblings('span').data("templateid"))
        })

        $("#flow_delete_button").on("click", function () {

            $.ajax({
                type: 'delete',
                url: '/mvp/api/Flows/delete/' + JSON.stringify($(this).data("templateid")),
                contentType: "application/json",
                success: function (result) {
                    console.log(result)
                    location.reload();
                },
                error: function (result) {
                    console.dir(result)
                }
            })
        })

        $(".pop_project_add_modal_btn").on("click", function () {
            let dataValue = $(this).data("type");
            $(`input:radio[name='rd_template']:radio[value=${dataValue}]`).prop('checked', true);
        })
    });
</script>
</body>
</html>