<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">

    <!-- icon (Chrome & Opera) -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/image/ico_maumAI_60x60.ico}">

    <link rel="stylesheet" th:href="@{/css/all.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/font.css(var=20200824)}">
    <link rel="stylesheet" th:href="@{/css/landing.css}">
    <link rel="stylesheet" href="https://sds.maum.ai/css?host=mindslab"/><!-- Chatbot -->

    <script type="text/javascript" src="/js/jquery-1.11.2.min.js"></script>
    <!-- <script src="https://sds.maum.ai/js/mindslab"></script>--><!-- Chatbot -->
    <!-- 우측 하단 floating chatbot -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122649087-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-122649087-4');
    </script>

    <title>AI Human Builder</title>
</head>
<body>
<div class="aside" style="display:none;">
    <!-- .aside_top -->
    <div class="aside_top">
        <h1><a href="/"><img src="/image/maumai.svg" alt="maumAI logo"></a></h1>
    </div>
    <!-- //.aside_top -->
    <!-- .aside_mid -->
    <div class="aside_mid">
        <ul class="m_nav">
            <li>
                <h2>서비스 바로가기 <em class="fas fa-chevron-down"></em></h2>
                <ul class="m_lst">
                    <li class="active">
                        <h3><a href="https://builder.maum.ai/landing/?lang=ko">AI Human Builder</a></h3>
                    </li>
                    <li>
                        <h3><a href="https://maum.ai/serviceLanding/krCloudApiMain">Cloud API</a></h3>
                    </li>
                    <li>
                        <h3><a href="https://minutes.maum.ai/?lang=ko">maum 회의록</a></h3>
                    </li>
                    <li>
                        <h3><a href="https://fast-aicc.maum.ai/?lang=ko">FAST 대화형 AI</a></h3>
                    </li>
                    <li>
                        <h3><a href="https://data.maum.ai/?lang=ko">maum DATA</a></h3>
                    </li>
                </ul>
            </li>
            <li>
                <h2><a href="https://maum.ai/home/pricingPage">가격정책</a></h2>
            </li>
        </ul>
    </div>
    <!-- //.aside_mid -->

    <!-- .aside_btm -->
    <div class="aside_btm">
        <ul>
            <li class=""><span>한국어</span></li>
            <li class=""><span><a href="?lang=en">English</a></span></li>
        </ul>
    </div>
    <!-- //.aside_btm -->
</div>

<div class="bg_aside"></div>
<a class="btn_header_ham" href="#none"><span class="hamburger_icon"></span></a>
<!-- //aside -->


<!-- #header -->
<div id="header">
    <!-- .group_flex -->
    <div class="group_flex">
        <h1>
            <a href="https://maum.ai/" target="_blank"><img src="/image/maumai.svg" alt="maum.ai logo"/></a>
        </h1>
        <!-- .sta -->
        <div class="sta">
            <!-- .GNB-->
            <div class="gnb">
                <ul class="nav">
                    <li><a href="https://maum.ai/home/pricingPage" target="_blank">가격정책</a></li>
                </ul>
            </div>
            <!-- .GNB-->
            <!-- #menu(service menu) -->
            <div id="menu">
                <ul>
                    <li>
                        <p class="service_btn">서비스 바로가기 &nbsp;&nbsp;
                            <em class="fas fa-angle-down"></em>
                            <em class="fas fa-angle-up"></em>
                        </p>
                        <ul class="dropdown-menu">
                            <li class="active"><a href="https://builder.maum.ai/landing?lang=ko"
                                                  title="AI Human Builder" target="_self">AI Human Builder</a></li>
                            <li><a href="https://maum.ai/serviceLanding/krCloudApiMain" title="클라우드 API"
                                   target="_blank">Cloud API</a></li>
                            <li><a href="https://minutes.maum.ai/?lang=ko" title="회의록 바로가기" target="_blank">maum 회의록</a>
                            </li>
                            <li><a href="https://fast-aicc.maum.ai/?lang=ko" target="_blank" title="대화형 AI">FAST 대화형
                                AI</a></li>
                            <li><a href="https://data.maum.ai/?lang=ko" target="_blank" title="데이터 서비스">maum DATA</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- //#menu(service menu) -->
            <!-- language -->
            <div class="lang_box">
                <span>한국어</span>
                <span><a href="?lang=en" target="_self" title="English">English</a></span>
            </div>
            <!-- //language -->
        </div>
        <!-- //.sta -->
    </div>
</div>
<!-- //#header -->

<!-- #container -->
<div id="container">
    <!-- .contents -->
    <div class="contents">
        <h1 th:text="#{header.title}"></h1>
        <h5 th:inline="text">[[#{header.subtitle.inline}]]</h5>
        <!-- .stn  -->
        <div class="stn ">
            <!-- .cont_box -->
            <div class="cont_box">
                <!-- .fl_box -->
                <div class="fl_box">
                    <div class="cont_area clearfix" id="bot_area">
                        <div class="api_set clearfix ">
                            <div class="input_show" id="FlowNode_Input_0">
                                <div class="input audiobox 1 ">
                                    <span th:text="#{engine_box.title.audio_input}"></span>
                                </div>
                            </div>
                            <div class="api_show" id="FlowNode_Engine_0">
                                <div class="api_bot" id="2">
                                    <span th:text="#{engine_box.title.stt}"></span>
                                    <img src="/image/engine/음성/ico_api_stt.png" title="STT: 음성을 텍스트로 변환" alt="음성인식">
                                    <div class="spinner"><strong class="fas fa-spinner"></strong></div>
                                </div>
                            </div>
                            <div class="output_show" id="FlowNode_Output_0">
                                <div class="output textbox" style="background: #fff;">
                                    <div class="textarea" th:text="#{engine_box.question.chatbot}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="api_set clearfix ">
                            <div class="api_show" id="FlowNode_Engine_1">
                                <div class="api_bot" id="38">
                                    <span th:text="#{engine_box.title.chatbot}"> </span>
                                    <img src="/image/engine/대화/ico_api_weather.png" title="챗봇: 대화엔진" alt="챗봇">
                                    <div class="spinner"><strong class="fas fa-spinner"></strong></div>
                                </div>
                            </div>
                            <div class="output_show" id="FlowNode_Output_1">
                                <div class="output textbox blue" style="background: #fff;">
                                    <div class="textarea" th:text="#{engine_box.result.chatbot}"></div>
                                </div>
                            </div>
                        </div>
                        <div class="api_set clearfix ">
                            <div class="api_show" id="FlowNode_Engine_2">
                                <div class="api_bot" id="1">
                                    <span th:text="#{engine_box.title.tts}"> </span>
                                    <img src="/image/engine/음성/ico_api_tts.png" title="TTS: 텍스트를 음성으로 변환" alt="음성생성">
                                    <div class="spinner"><strong class="fas fa-spinner"></strong></div>
                                </div>
                                <em class="fas fa-times api_close"></em></div>
                            <div class="output_show" id="FlowNode_Output_2">
                                <div class="output  1" style="width: 120px;">
                                    <!-- recording -->
                                    <div class="recording">
                                        <span></span> <span></span> <span></span> <span></span> <span></span>
                                        <span></span> <span></span> <span></span>
                                        <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                                    </div>
                                    <!-- //recording -->
                                    <span class="recordingtxt" th:text="#{engine_box.result.tts}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //.fl_box -->
                <!-- .fr_box -->
                <div class="fr_box">
                    <ul>
                        <li th:text="#{desc.title}"></li>
                        <li th:inline="text"><span>1</span>[[#{desc.step1}]]</li>
                        <li th:inline="text"><span>2</span>[[#{desc.step2}]]</li>
                        <li th:inline="text"><span>3</span>[[#{desc.step3}]]</li>
                    </ul>
                    <a href="/security/login" title="AI Human Builder 시작하기" target="_parent" th:inline="text">
                        [[#{desc.button}]]
                        <span>Sign in with Google</span>
                    </a>
                </div>
                <!-- //.fr_box -->
            </div>
            <!-- //.cont_box -->
        </div>
        <!-- //.stn  -->
    </div>

    <!--  공통 푸터 부분-->
    <iframe th:src="#{footer.link}"></iframe>
</div>
<!-- //#container -->
<script>

    /*window.GitpleConfig = {"appCode":"ubFQIWPWwu4xGxC4kMsPhe2mei2533"};
    !function(){function e(){function e(){var e=t.contentDocument,a=e.createElement("script");a.type="text/javascript",a.async=!0,a.src=window[n]&&window[n].url?window[n].url+"/inapp-web/gitple-loader.js":"https://app.gitple.io/inapp-web/gitple-loader.js",a.charset="UTF-8",e.head&&e.head.appendChild(a)}var t=document.getElementById(a);t||((t=document.createElement("iframe")).id=a,t.style.display="none",t.style.width="0",t.style.height="0",t.addEventListener?t.addEventListener("load",e,!1):t.attachEvent?t.attachEvent("onload",e):t.onload=e,document.body.appendChild(t))}var t=window,n="GitpleConfig",a="gitple-loader-frame";if(!window.Gitple){document;var i=function(){i.ex&&i.ex(arguments)};i.q=[],i.ex=function(e){i.processApi?i.processApi.apply(void 0,e):i.q&&i.q.push(e)},window.Gitple=i,t.attachEvent?t.attachEvent("onload",e):t.addEventListener("load",e,!1)}}();
    if(lang_code === 'ko')
        Gitple('boot');*/

    $(document).ready(function () {

        let location = document.location.href;

        //화면 로드 시 lang 체크
        $('html').each(function () {
            var thisURL = $(location).attr('href'),
                urlStr = thisURL.substring(thisURL.indexOf("/?"));

            if (lang_code == 'en' || urlStr == '/?lang=en' || urlStr == '/?lang=en#none') {
                //lang_box ui
                $('.lang_box').children().remove();
                $('.lang_box').append('\
                    <span>English</span> \
                    <span><a href=' + location + "&lang=ko" + '>Korean</a></span>'
                );
                $('.gnb').children().remove();
                $('.gnb').append('<ul class="nav">\n' +
                    '                    <li><a href="https://maum.ai/home/pricingPage/?lang=en" target="_blank">Pricing</a></li>\n' +
                    '                </ul>');

                $('#menu').children().remove();
                $('#menu').append('<ul>\n' +
                    '                    <li>\n' +
                    '                        <p class="service_btn">Our Service &nbsp;&nbsp;\n' +
                    '                            <em class="fas fa-angle-down"></em>\n' +
                    '                            <em class="fas fa-angle-up"></em>\n' +
                    '                        </p>\n' +
                    '                        <ul class="dropdown-menu">\n' +
                    '                            <li class="active"><a href="#none" title="AI Human Builder" target="_self">AI Human Builder</a></li>\n' +
                    '                            <li><a href="https://maum.ai/main/enMainHome" title="Cloud API" target="_blank">Cloud API</a></li>\n' +
                    '                            <li><a href="https://minutes.maum.ai/?lang=en"  title="maum Minutes" target="_blank">maum Minutes</a></li>\n' +
                    '                            <li><a href="https://fast-aicc.maum.ai/login?lang=en" target="_blank" title="FAST Conversational AI">FAST Conversational AI</a></li>\n' +
                    '                            <li><a href="https://data.maum.ai/?lang=en" target="_blank" title="maum DATA">maum DATA</a></li>\n' +
                    '                        </ul>\n' +
                    '                    </li>\n' +
                    '                </ul>');

                $('.aside_btm').children().remove();
                $('.aside_btm').append('<ul>\n' +
                    '            <li class=""><span>English</span></li>\n' +
                    '            <li class=""><span><a href=' + location + "&lang=ko" + '>Korean</a></span></li>\n' +
                    '        </ul>');
                $('.m_nav').children().remove();
                $('.m_nav').append('<li>\n' +
                    '                <h2>Our Service <em class="fas fa-chevron-down"></em></h2>\n' +
                    '                <ul class="m_lst">\n' +
                    '                    <li class="active">\n' +
                    '                        <h3><a href="https://builder.maum.ai/landing/?lang=en">AI Human Builder</a></h3>\n' +
                    '                    </li>\n' +
                    '                    <li>\n' +
                    '                        <h3><a href="https://maum.ai/serviceLanding/enCloudApiMain">Cloud API</a></h3>\n' +
                    '                    </li>\n' +
                    '                    <li>\n' +
                    '                        <h3><a href="https://minutes.maum.ai/?lang=en">maum Minutes</a></h3>\n' +
                    '                    </li>\n' +
                    '                    <li>\n' +
                    '                        <h3><a href="https://fast-aicc.maum.ai/?lang=en">FAST Conversational AI</a></h3>\n' +
                    '                    </li>\n' +
                    '                    <li>\n' +
                    '                        <h3><a href="https://data.maum.ai/?lang=en">maum DATA</a></h3>\n' +
                    '                    </li>\n' +
                    '                </ul>\n' +
                    '            </li>\n' +
                    '            <li>\n' +
                    '                <h2><a href="https://maum.ai/home/pricingPage/?lang=en">Pricing</a></h2>\n' +
                    '            </li>');
                //html language
                $('html').attr('lang', 'en');
                $('body').addClass('landing_en');

            } else {
                //lang_box ui
                $('.lang_box').children().remove();
                $('.lang_box').append('\
                    <span>한국어</span> \
                    <span><a href=' + location + "&lang=en" + '>English</a></span>'
                );
                $('.gnb').children().remove();
                $('.gnb').append('<ul class="nav">\n' +
                    '                    <li><a href="https://maum.ai/home/pricingPage/?lang=ko" target="_blank">가격정책</a></li>\n' +
                    '                </ul>');

                $('#menu').children().remove();
                $('#menu').append('<ul>\n' +
                    '                    <li>\n' +
                    '                        <p class="service_btn">서비스 바로가기 &nbsp;&nbsp;\n' +
                    '                            <em class="fas fa-angle-down"></em>\n' +
                    '                            <em class="fas fa-angle-up"></em>\n' +
                    '                        </p>\n' +
                    '                        <ul class="dropdown-menu">\n' +
                    '                            <li class="active"><a href="https://builder.maum.ai/landing?lang=ko" title="AI Human Builder" target="_self">AI Human Builder</a></li>\n' +
                    '                            <li><a href="https://maum.ai/serviceLanding/krCloudApiMain" title="클라우드 API" target="_blank">Cloud API</a></li>\n' +
                    '                            <li><a href="https://minutes.maum.ai/?lang=ko"  title="회의록 바로가기" target="_blank">maum 회의록</a></li>\n' +
                    '                            <li><a href="https://fast-aicc.maum.ai/?lang=ko" target="_blank" title="대화형 AI">FAST 대화형 AI</a></li>\n' +
                    '                            <li><a href="https://data.maum.ai/?lang=ko" target="_blank" title="데이터 서비스">maum DATA</a></li>\n' +
                    '                        </ul>\n' +
                    '                    </li>\n' +
                    '                </ul>');
                $('.aside_btm').children().remove();
                $('.aside_btm').append('<ul>\n' +
                    '            <li class=""><span>한국어</span></li>\n' +
                    '            <li class=""><span><a href=' + location + "&lang=en" + '>English</a></span></li>\n' +
                    '        </ul>');
                $('.m_nav').children().remove();
                $('.m_nav').append('<li>\n' +
                    '                <h2>서비스 바로가기 <em class="fas fa-chevron-down"></em></h2>\n' +
                    '                <ul class="m_lst">\n' +
                    '                    <li class="active">\n' +
                    '                        <h3><a href="https://builder.maum.ai/landing/?lang=ko">AI Human Builder</a></h3>\n' +
                    '                    </li>\n' +
                    '                    <li>\n' +
                    '                        <h3><a href="https://maum.ai/serviceLanding/krCloudApiMain">Cloud API</a></h3>\n' +
                    '                    </li>\n' +
                    '                    <li>\n' +
                    '                        <h3><a href="https://minutes.maum.ai/?lang=ko">maum 회의록</a></h3>\n' +
                    '                    </li>\n' +
                    '                    <li>\n' +
                    '                        <h3><a href="https://fast-aicc.maum.ai/?lang=ko">FAST 대화형 AI</a></h3>\n' +
                    '                    </li>\n' +
                    '                    <li>\n' +
                    '                        <h3><a href="https://data.maum.ai/?lang=ko">maum DATA</a></h3>\n' +
                    '                    </li>\n' +
                    '                </ul>\n' +
                    '            </li>\n' +
                    '            <li>\n' +
                    '                <h2><a href="https://maum.ai/home/pricingPage/?lang=en">가격정책</a></h2>\n' +
                    '            </li>');
                //html language
                $('html').attr('lang', 'ko');
                $('body').removeClass('landing_en');

            }
        });


        $(".dropdown-menu li a").on('click', function () {
            $('.dropdown-menu').hide().parent().parent().removeClass('active');
            $(".lst").hide().parent().parent().removeClass('active');
        });
        $(".service_btn").on('click', function () {
            $(this).parent().parent().toggleClass('active');
            $(".dropdown-menu").slideToggle(200);
        });
        $('#container').on('click', function () {
            $('.dropdown-menu').hide().parent().parent().removeClass('active');
            $(".lst").hide().parent().parent().removeClass('active');

        });


        //aside menu
        var clicked = false;
        var asideWidth = $(window).width();
        $('.aside').show();

        $('a.btn_header_ham').click(function () {
            console.log(clicked);
            if (!clicked) {
                $(this).addClass('active');
                $('.aside').animate({
                    width: asideWidth
                }, {duration: 200, queue: false});
                $('body').css({
                    overflow: 'hidden'
                });
                clicked = true;
            } else {
                $(this).removeClass('active');
                $('.aside').animate({
                    width: '0'
                }, {duration: 200, queue: false});
                $('body').css({
                    overflow: ''
                });
                clicked = false;
            }
        });

        $('.bg_aside').on('click', function () {
            $('a.btn_header_ham').removeClass('active');
            $('.aside').animate({
                width: '0'
            }, {duration: 200, queue: false});
            $('.btn_goTop').show();

            $('.bg_aside').animate({
                opacity: 0,
                display: 'none'
            }, {duration: 150, queue: false});

            $('body').css({
                overflow: ''
            });
            clicked = false;
        });
    });

</script>
</body>
</html>
